<br>
<h1 class="display-2">Új kategória</h1>
<hr>
<br>
<form (submit)="submit(categoryForm)" #categoryForm="ngForm">

  <div class="form-group">
    <mat-form-field>
      <input 
        name="name" 
        [(ngModel)]="model.name" 
        matInput type="text" 
        placeholder="Kategória neve"
        required
        #name="ngModel">
      <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required">
        Szükséges egy kategória név!
      </mat-error>
      <!--<mat-error *ngIf="location.invalid && (location.dirty || location.touched) && location.errors.pattern">
        Location must start with PC...!
      </mat-error>-->
    </mat-form-field>
  </div>

  <button [disabled]="!categoryForm.valid" type="submit" mat-raised-button color="primary">Kategória mentése</button>
</form>