<br>
<h1 class="display-2">{{ recipe.recipeName }}</h1>
<hr>
<br>

<dl class="row">
  <dt class="col-sm-3">Feltöltő</dt>
  <dd class="col-sm-9">{{ recipe.owner.username }}</dd>

  <dt class="col-sm-3">Hozzávalók</dt>
  <dd class="col-sm-9">{{ recipe.ingredients }}</dd>

  <dt class="col-sm-3">Elkészítés</dt>
  <dd class="col-sm-9">{{ recipe.description }}</dd>

  <dt class="col-sm-3">Kategória</dt>
  <dd class="col-sm-9">{{ recipe.category.name }}</dd>

</dl>

<table class="table">
    <thead>
      <tr>
        <th class="header" scope="col">#</th>
        <th class="header" scope="col">Felhasználó</th>
        <th class="header" scope="col">Komment</th>
        <th class="header" scope="col">Szerkesztés</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comment of comments">
        <th scope="row">{{ comment.id }}</th>
        <td>
            {{ comment.user.username }}
        </td>
        <td>
          {{ comment.comment }}
        </td>
        <td>
            <a *ngIf="this.loggedInUser.role=='ADMIN' || this.isMyComment(comment)" mat-icon-button [routerLink]="['/comment', comment.id, 'edit']"><mat-icon>edit</mat-icon></a>
            <a *ngIf="this.loggedInUser.role=='ADMIN' || this.isMyComment(comment)" mat-icon-button (click)="this.deleteComment(comment.id)" [routerLink]="['/recipe', recipe.id]"><mat-icon>delete</mat-icon></a>
        </td>
      </tr>
    </tbody>
  </table>

<button mat-raised-button routerLink="/recipe/all"><mat-icon>reply</mat-icon>Vissza</button>
<button mat-raised-button [routerLink]="['/comment/new', recipe.id]" ><mat-icon>comment</mat-icon>Új hozzászólás</button>
