<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <mat-icon>description</mat-icon>
    Főoldal
  </button>
  <button mat-button routerLink="/recipe/all">Receptek</button>
  <button mat-button routerLink="/recipe/favourite">Kedvelt Receptek</button>
  <button mat-button routerLink="/recipe/my">Saját Receptek</button>
  <button mat-button routerLink="/category/all">Kategóriák</button>
  <button mat-button routerLink="/user/all">Felhasználók</button>

  <span class="fill-remaining-space"></span>
  <button mat-button routerLink="/register">Regisztráció</button>
  <button mat-button routerLink="/login">Bejelentkezés</button>
  <button mat-button (click)="this.logout()">Kijelentkezés</button>

</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>