<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <mat-icon>description</mat-icon>
    Főoldal
  </button>
  <button mat-button routerLink="/recipe/all">Receptek</button>
  <button mat-button routerLink="/recipe/all">Kedvelt Receptek</button>
  <button mat-button routerLink="/recipe/all">Saját Receptek</button>
  <button mat-button routerLink="/recipe/new">Új recept felvétele</button>

  <span class="fill-remaining-space"></span>
  <button mat-button routerLink="/user/profile">Profil</button>
  <button mat-button routerLink="/register">Regisztráció</button>
  <button mat-button routerLink="/login">Bejelentkezés</button>
  <button mat-button onclick="this.authService.logout()">Kijelentkezés</button>

</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>