<br>
<h1 class="display-2">Recept TO-DO</h1>
<hr>
<br>
<p>A projekt célja egy receptek feltöltésére használható webes alkalmazás elkészítése.</p>
<p><b>Felhasználóként</b> lehetőségetek van:</p>
<ul>
    <li>regisztrálni a webes alkalmazásra</li>
    <li>bejelentkezni</li>
    <li>kijelentkezni</li>
    <li>recepteket kedvenceknek adni</li>
    <li>kedvelt recepteket visszavonni</li>
    <li>új receptet létrehozni</li>
    <li>saját receptet törölni</li>
    <li>hozzászólni a receptekhez</li>
    <li>saját hozzászólást szerkeszteni, törölni</li>
</ul>