<br>
<h1 class="display-2">Felhasználók</h1>
<div class="row">
  <div class="col">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Felhasználónév</th>
          <th scope="col">email</th>
          <th scope="col">Szerepkör</th>
          <th scope="col">Szerkesztés</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{ user.id }}</th>
          <td>
                {{ user.username }}
          </td>
          <td>
            {{ user.email }}
          </td>
          <td>
            {{ user.role }}
          </td>
          <td>
            <!--<a mat-icon-button [routerLink]="['/category', category.id, 'edit']"><mat-icon>edit</mat-icon></a>-->
            <a  mat-icon-button (click)="this.deleteUser(user.id)"><mat-icon >delete</mat-icon></a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>